/* ----- Reset ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* ----- Corpo ----- */
body {
  background-color: #0d0d0d;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ===== MENU SUPERIOR ===== */
.navbar {
  width: 100%;
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  border-bottom: 1px solid #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}



.nav-left nav a {
  color: #ccc;
  text-decoration: none;
  margin-right: 10px;
  font-size: 0.95em;
}

.nav-left nav a:hover {
  color: #fff;
}

.nav-center input {
  background-color: #2a2a2a;
  border: 1px solid #444;
  border-radius: 5px;
  padding: 6px 10px;
  color: #fff;
  width: 200px;
  outline: none;
}

.nav-center input::placeholder {
  color: #aaa;
}

.nav-right {
  display: flex;
  gap: 10px;
}

.btn-cadastrar {
  background-color: #2563eb;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.btn-entrar {
  background-color: transparent;
  border: 1px solid #555;
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-entrar:hover {
  background-color: #333;
}

/* ===== LOGIN ===== */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.login-container {
  background-color: #1a1a1a;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  width: 350px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 25px;
  font-size: 1.8em;
  color: #e0e0e0;
}

/* Campos */
.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  font-size: 0.9em;
  color: #aaa;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  background-color: #2a2a2a;
  color: #fff;
  outline: none;
  font-size: 0.95em;
}

.input-group input:focus {
  background-color: #333;
}

/* Botão de login */
.btn-login {
  background-color: #3a3a3a;
  color: #fff;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 1em;
  margin-top: 5px;
  transition: 0.2s;
}

.btn-login:hover {
  background-color: #4a4a4a;
}

/* Links */
.links {
  margin-top: 15px;
  font-size: 0.9em;
}

.links a {
  color: #87cefa;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.divider {
  height: 1px;
  background-color: #333;
  margin: 15px 0;
}
